html {
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #252525!important;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

#wrapper {
    padding-top: 52px;
    padding-left: 60px;
    padding-bottom: 52px;
    background: #252525;
}

#wrapper .footer p {
    color: white;
    text-align: right;
}

#sidebar-wrapper {
    width: 6.76%;
    height: 750px;
    float: left;
    margin-right: 16px;
    border-radius: 8px;
    display: inline-block;
    background-color: #FFFFFF;
}

#sidebar-wrapper .logo-wrapper {
    float: left;
    width: 100%;
    height: 94px;
    text-align: center;
}

#sidebar-wrapper .logo-wrapper .logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sidebar-wrapper .logo-wrapper .logo img {
    width: 29px;
    height: 34px;
}

#sidebar-wrapper .faq {
    float: left;
    width: 100%;
    text-align: center;
    height: 95px;
    background-color: #76CC61;
}

#sidebar-wrapper .faq .question {
    margin-top: 19px;
}

#sidebar-wrapper .faq .faqText {
    margin-top: 8px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#sidebar-wrapper .faq .faqText a {
    color: white;
}

#sidebar-wrapper .faq:hover {
    background: #63a952;
}

.content-wrapper {
    background-color: white;
    height: 750px;
    border-radius: 8px;
    float: left;
    width: 55.59%;
    margin-right: 16px;
    display: inline-block;
}

.content-wrapper .head_text {
    margin-top: 32px;
    margin-left: 39px;
}

.content-wrapper .head_text h1 {
    font-size: 30px;
    font-weight: 700;
    font-stretch: expanded;
}

.content-wrapper .subText {
    margin-left: 39px;
    margin-top: 10px;
    widows: 80%;
}

.content-wrapper .subText p {
    font-size: 17px;
    font-weight: lighter;
}

.content-wrapper .form-group {
    margin-top: 30px;
}

.content-wrapper .search_row {
    padding: 0 65px 0 65px;
}

.content-wrapper .form-group input {
    text-indent: 20px;
    border-radius: 10px;
    height: 51px;
    background-color: #FBFBFB;
    border: 2px solid #E2E2E2;
}

.content-wrapper .form-group input::-webkit-input-placeholder {
    /* Chrome */
    color: #A3A3A3;
    font-weight: lighter;
    font-size: 17px;
}

.content-wrapper .form-group input::-moz-placeholder {
    /* Moz */
    color: #A3A3A3;
    font-weight: lighter;
    font-size: 17px;
}

.content-wrapper .form-group input:-ms-input-placeholder {
    /* IE */
    color: #A3A3A3;
    font-weight: lighter;
    font-size: 17px;
}

.content-wrapper .form-group .glyphicon {
    right: 20px;
    font-size: 18px;
    color: #E2E2E2;
    text-align: left;
    line-height: 50px;
}

.right-wrapper {
    background-color: white;
    height: 750px;
    float: left;
    border-radius: 8px;
    width: 30.26%;
    display: inline-block;
}

.right-wrapper .about_text {
    margin-top: 32px;
    text-align: center;
}

.right-wrapper .about_text h4 {
    font-size: 30px;
    font-weight: 700;
    font-stretch: expanded;
}

.right-wrapper .right_log {
    text-align: center;
    flex: 1;
    margin-top: 54px;
}

.right-wrapper .right_log img {
    height: 48px;
}

.right-wrapper .right_text {
    margin-top: 23px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.right-wrapper .right_text h4 {
    font-size: 20px;
    font-weight: bold;
}

.right-wrapper .right_text p {
    font-size: 15px;
}

.right-wrapper .right_btn {
    text-align: center;
    margin-top: 58px;
}

.right-wrapper .right_btn button:hover {
    background-color: lightgreen;
    color: black;
}

.right-wrapper .right_btn button {
    /* width: 231px; */
    background-color: #83C75A;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.content-wrapper .right_btn {
    text-align: center;
    margin-top: 58px;
}

.content-wrapper .right_btn button {
    width: 248px;
    background-color: white;
        color: #7fc857;
    border: 1px solid #7fc857;
    font-weight: light;
    border-radius: 10px;
}

.content-wrapper .right_btn button a {
    color: #7fc857;
}

.content-wrapper .right_btn button:hover {
    background-color: #7fc857;
    color: white!important;
}

.content-wrapper .right_btn button a:hover {
    color: white;
}

.input-group {
    margin-top: 24px;
}

.input-group input {
    height: 51px;
}

.right-wrapper .content_text {
    margin-top: 70px;
    margin-left: 40px;
}

.right-wrapper .content_text .desc h4 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #A1D180;
}

.hr_about {
    margin-top: 0px;
    border: 2px solid #87BB4C;
    width: 180px;
    background: #87BB4C;
}

.right-wrapper .content_text .desc p {
    line-height: 26px;
    margin-top: 12px;
}

.footer .footer_text .text {
    margin-top: 10px;
}

.footer .footer_text .text p {
    text-align: right;
    color: white;
}

.footer .footer_text .text p a {
    text-decoration: underline;
    color: white;
}

/* end content wrapper */

@media (max-width: 1290px) {
    .content-wrapper .right_btn button {
        width: 230px;
    }
}

@media( max-width: 768px) {
    #wrapper {
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #sidebar-wrapper {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .content-wrapper {
        width: 100%;
        margin-top: 20px;
    }
    .content-wrapper .subText {
        width: 80%;
    }
    .right-wrapper {
        width: 100%;
        margin-top: 20px;
    }
    .search_row {
        padding: 0 30px 0 30px!important;
    }
    .content-wrapper .right_btn {
        text-align: center;
        margin-top: 25px;
    }
    .footer .footer_text .text p {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
    .content-wrapper .right_btn {
        text-align: center;
        margin-top: 15px;
    }
}

.form-control {
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchBtn {
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.left { 
background-color: #7fc857;
/*background-repeat: */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.right { 
background-color: #7fc857;
/*background-repeat: */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.contentToggle {
    float: right;
    border: 2px solid black;
    padding: 5px;
    border-radius: 15px;
}